/*

h2 {
    text-align: center;
    font-size: 50px;
    color: darkviolet;
    margin-bottom: -200px;
}

body {
    background-repeat: inherit;
    background-size: 100%;


}

div#wrapper {
    width: 550px;
    height: 700px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd_dSQu1K7F0dhdpdrPCHEC7nMhNMnZcXDPt2auyzrTkmrHgvd');
    margin: 0 auto;
    margin-top: 250px;
    padding: 20px;
}

main {
    text-align: center;
    
}

div#img-container {
    height: 300px;
}

h1 {
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Courier New';
    color: #3973ac;
    font-size: 55px;
}

h1 span {
    margin-left: -30px;
    font-family: 'impact';
    color: darkviolet;
    font-size: 35px;
}


img {
    max-width: 100%;
    max-height: 100%;
}
*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand|Titillium+Web');

body{
    background-color: darkgrey;
}

h1 {
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Courier New';
    color: darkred;
    font-size: 55px;
}

p{
    text-align: center;
    font-size: 25px;
    color: darkslategrey;
}

button {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: indianred;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    align-content: center;
    height: 40px;
}

#footer {
    font-style: cursive;
    font-size: 15px;
    text-align: center;
    color: darkslateblue;
    font-family: monospace;
}

#fin {
   margin-left: 600px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}