.HintText{
    display: none;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: darkviolet;
    margin-bottom: -200px;
}

body {
    background-repeat: inherit;
    background-size: 100%;


}

main {
    text-align: center;
    
}

div#img-container {
    height: 300px;
}

h1 {
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Courier New';
    color: #3973ac;
    font-size: 55px;
}

h1 span {
    margin-left: -30px;
    font-family: 'impact';
    color: darkviolet;
    font-size: 35px;
}


p {
    text-align: center;
    font-size: 25px;
    color: aquamarine;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.button {
    height: 80px;
}

button {
    background-color: #003333;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: indianred;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

#footer {
    font-style: cursive;
    font-size: 15px;
    text-align: center;
    color: hotpink;
    font-family: monospace;
}