.question{
    display: none;
}

.HintText {
    display: none;
}
#instructions{
    
}

#fin {
   margin-left: 600px;
}

h1 {
    letter-spacing: 0px;
    text-align: center;
    font-family: 'Courier New';
    color: darkred;
    font-size: 55px;
}
body {
    background-color: darkgrey;
    text-align: left;
    background-size: 100%;
}
main {
    text-align: center;
}
h1 {
   letter-spacing: 0px;
    text-align: center;
    font-family: 'Courier New';
    color: darkred;
    font-size: 55px;
}
h1 span {
    font-family: 'impact';
    color: darkviolet;
    font-size: 35px;
}
p {
    text-align: center;
    font-size: 25px;
    color: darkslategrey;
}
.button {
    height: 80px;
}
button {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: indianred;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    align-content: center;
    height: 40px;
}
#footer {
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: darkgreen;
    font-family: inherit;
}
